@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

h4 {
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

ul {
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
}



.double-container {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: center;
}